<ion-header translucent ="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">ABOUT</ion-title>
    <ion-button size="small" (click)="RedirectToHome1Page()"><strong>Back</strong></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">ABOUT</ion-title>
    </ion-toolbar>
  </ion-header>
  <br>


  <div id="container">
    <ion-card-content>
      <h1>CS 121 Advance Computer Programming Mobile Application</h1><br>
      <h2>This mobile application is entitled CS 121 Advance Computer Programming Mobile Application. This application is used as a learning medium consist of module and divided into chapters that are all about the Advance computer programming. </h2><br>
      <h2>The Developers of this mobile application are:</h2><br>
      <h2><u><strong>Colis Bryan Christopher C.</strong></u></h2><br>
      <h2><u><strong>Gutierrez Rogell A.</strong></u></h2><br>
      <h2><u><strong>Magtalas Denzl Eian A.</strong></u></h2><br>
    </ion-card-content>
  </div>
</ion-content>